@import '../assets/variables';

#activity {
  min-width: 100vw;
  .activity {
      display: flex;
      flex-direction: column;
      align-items: center;
      .nav-image-canoe{
        background: url('../assets/canoe.jpg');
        background-size: cover;
        background-position: 40%;
        height: 100vh;
        width: 100%;
      }
      .nav-image-tube {
        background: url('../assets/tubing.jpg');
        background-size: cover;
        height: 100vh;
        width: 100%;
      }
      .nav-image-navette {
        background: url('../assets/bus.png');
        background-size: cover;
        height: 100vh;
        width: 100%;
        background-position: 40%;
      }
    .img-text {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 10rem;
      margin-right: 5rem;
      .activity-img {
        width: 100vw;
        height: 85vh;
      }
      .activity-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 6rem;
        font-weight: 800;
        font-family: 'Raleway';
        text-shadow: 1px 3px 7px $color-contrast;
        cursor: pointer;
        -webkit-text-stroke: 3px #180e00;
        color: transparent;
        line-height: 7rem;
      }
    }
    .activity-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 5rem;
      .activity-summary {
        border-top: 1px black solid;
        border-bottom: 1px black solid;
        padding: 2rem;
        color: black;
        font-family: $font-title;
        font-weight: 400;
        margin-bottom: 5rem;
        margin-top: 2rem;
        width: 100%;
      }
      .activity-container {
        margin-bottom: 4rem;
        display: flex;
        .activity-img {
          width: 50rem;
        }
        .activity-text-container {
          text-align: left;
          margin-left: 2rem;
          .activity-text {
            color: black;
            font-family: $font-text;
            font-size: 1.6rem;
            text-align: justify;
          }
        }
        .tube-map {
          width: 40rem;
          height: auto;
        }
      }
      .reserve {
        align-self: flex-end;
        margin-right: 10rem;
        margin-top: 2rem;
      }
    }
  }
}

.MuiPaper-root {
  align-items: center;
}
.PrivateTabIndicator-root-3 {
  background-color: $color-contrast;
}



@media screen and (max-width: 991px) {
  #activity {
    .activity {
      .img-text {
        // margin-top: 60rem;
        margin-right: 3rem;
        .activity-title {
        }
      }
    }
  }
}

@media screen and (max-width: 770px) {
  #activity {
    max-width: 100vw;
    .activity {
      .img-text {
        // margin-top: 60rem;
      }
    }
    .activity-info {
      position: relative;
      max-width: 100vw;
      .activity-summary {
        width: auto !important;
      }
      .activity-container {
        flex-direction: column;
        align-items: center;
        .activity-img {
          width: 30rem !important;
          margin-bottom: 2rem;
        }
        .reserve {
          align-self: flex-end;
          margin-right: 4rem;
          margin-top: 4rem;
        }
      }
    }
  }
}

@media screen and (max-width: 479px) {
  #activity {
    max-width: 100vw;
    .activity {
      display: flex;
      flex-direction: column;
      align-items: center;
      .nav-image-canoe{
        background: url('../assets/canoe.jpg');
        background-size: cover;
        height: 90vh;
        background-position: 50%;
      }
      .nav-image-tube {
        background: url('../assets/tubing.jpg');
        background-size: cover;
        height: 90vh;
        background-position: 40%;
      }
      .nav-image-navette {
        background: url('../assets/bus.png');
        background-size: cover;
        height: 90vh;
        background-position: 30%;
      }
      .img-text {
        // margin-top: 35rem;
        margin-left: 4rem;
        .activity-title {
          font-size: 5rem;
        }
      }
    }
    .activity-info {
      max-width: 100vw;
      
      .activity-container {
        flex-direction: column;
        .activity-img {
          width: 30rem !important;
          margin-bottom: 2rem;
        }
      }
    }
  }
}