@import '../assets/variables';


.title {
  margin-top: 5rem;
}

.riviere {
  display: flex;
  flex-direction: column;
  align-items: center;
  .river-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0rem;
    width: 50%;
    text-align: justify;
  }
  .river-image {
    margin: 2rem 0rem;
  }
  .map-container {
    width: 60vw;
  }
  .carte-container {
    position: relative;
  }
  .carte-container-small-screen {
    visibility: hidden;
    position: absolute;
  }

  .wave-container {
    width: 100%;
    vertical-align: middle;
    overflow: hidden;
    bottom: 0;
    opacity: 0.8;
  }
  .cards-website {
    font-size: 1rem;
    align-self: flex-end;
    margin-right: 1rem;
    margin-bottom: 1rem;
    font-family: $font-title;
    a {
      text-decoration: underline !important;
    }
  }
}

@media screen and (max-width: 991px) {
  .riviere {
    .carte-container {
      // visibility: hidden;
      // position: absolute;
    }
    .carte-container-small-screen {
      visibility: visible;
      position: relative;
    }
  }
}


@media screen and (max-width: 770px) {
  .riviere {
    .river-description {
      width: 80%;
    }
    .river-image {
      width: 100%;
    }
    .map-container {
      width: 100%;
        :nth-child(2) {
          width: 100% !important;
      }
    }
  }
}