$title-text: 'Open Sans', sans-serif;
$text: 'Shadows Into Light', cursive; ;
$text2: 'Rajdhani', sans-serif;
$text-simple: 'Montserrat', sans-serif;
$primary-color: white;
$secondary-color: #006466;


.diploma-btn {
  color: white;
  font-family: $text;
  font-size: 1.2em;
  margin-top: 0;
}