@import '../assets/variables';

$bg:  #020202;
$bg-accent: #072500;
$text-color: #dadce1;
$nav-size: 15rem;
$border: 1px solid #474a4d;
$border-radius: 8px;
$speed: 500ms; 
$button-size: calc(#{$nav-size} * 0.5);

/* <nav> */
.navbar {
  height: $nav-size;
  background-color: $bg;
  padding: 0 1rem;
  border-bottom: $border
}

/* <ul> */
.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  width: calc(#{$nav-size} * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-down {
  margin-bottom: 1rem;
}


/* Dropdown Menu */

.dropdown {
  opacity: 0.9;
  position: absolute;
  font-family: $font-title;
  text-transform: uppercase;
  top: 100px;
  width: 300px;
  border-radius: $border-radius;
  padding: 1rem;
  overflow: hidden;color: black;
  transition: height $speed ease;
  background: rgb(0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-item-2 {
  height: 50px;
  color: white;
  display: flex;
  align-items: center;
  border-radius: ($border-radius);
  transition: background ($speed);
  padding: 0.5rem 1rem;
  .icon-button {
    &:hover {
      filter: none;
    }
  }
  .icon-right {
    margin-left: auto;
  }
  &:hover {
    color: $color-contrast;
    background-color: #525357;
  }
}
.burger {
  color: $color-contrast;
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all ($speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all ($speed) ease;
}


.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all ($speed) ease;
}
.menu-secondary-exit {

}
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all ($speed) ease;
}


@media screen and (max-width: 991px) {
  .dropdown {
    transform: translateX(100%);
    width: 50vw;
    padding: 0;
    float: right;
    h2 {
      font-size: 1.5rem;
    }
  }
  .icon-button {
    color: "white";
    transform: scale(2);
  }
}

@media screen and (max-width: 767px) {
  .dropdown {
    transform: translateX(0);
    width: 100vw;
    padding: 0;
    h2 {
      font-size: 1.5rem;
    }
  }
  .icon-button {
    color: "white";
    transform: scale(2);
  }
}

@media screen and (max-width: 479px) {

}