@import '../assets/variables';

$bg:  #020202;
$bg-accent: #072500;
$text-color: #dadce1;
$nav-size: 15rem;
$border: 1px solid #474a4d;
$border-radius: 8px;
$speed: 500ms; 
$button-size: calc(#{$nav-size} * 0.5);

/* <nav> */
.navbar {
  height: $nav-size;
  background-color: $bg;
  padding: 0 1rem;
  border-bottom: $border
}

/* <ul> */
.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  width: calc(#{$nav-size} * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button {
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
  &:hover {
    filter: brightness(1.2);
  }
}

.arrow-down {
  transform: scale(2);
  margin-bottom: 1rem;
}


/* Dropdown Menu */

.dropdown {
  position: absolute;
  font-family: $font-title;
  text-transform: uppercase;
  top: 130px;
  width: 300px;
  background-color: $bg;
  border: $border;
  border-radius: $border-radius;
  padding: 1rem;
  overflow: hidden;
  transition: height $speed ease;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-item-2 {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: ($border-radius);
  transition: background ($speed);
  padding: 0.5rem;
  .icon-button {
    margin-right: 0.5rem;
    &:hover {
      filter: none;
    }
  }
  .icon-right {
    margin-left: auto;
  }
  &:hover {
    background-color: #525357;
  }
}
.burger {
  color: darkgoldenrod;
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all ($speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all ($speed) ease;
}


.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all ($speed) ease;
}
.menu-secondary-exit {

}
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all ($speed) ease;
}


@media screen and (max-width: 991px) {
  
}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 479px) {
  .dropdown {
    width: 94vw;
  }
  .icon-button {
    color: "white";
    transform: scale(2);
  }
}